{% extends 'base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Incident</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Maps</a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="">Incidents</a>
      </li>
    </ul>
  </div>

  <div class="col-md-12">
    <div class="card card-transparent">
      <div class="card-header">
        <h4 class="card-title text-center">Map Incidents</h4>
        <p class="card-category text-center">
          Looks great on any resolution. Made by our friends from
          <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>.
        </p>
      </div>
      <div class="card-body">
        <div class="col-md-10 ml-auto mr-auto">
          <div id="map" style="width: 100%; height: 400px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    var map = L.map("map").setView([9.81644, 118.722391], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution:
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var FireIcon = L.icon({
    iconUrl: "{% static 'img/fireheart.png' %}",
    iconSize: [50, 50]
    });

  // Example marker using fireheart icon
    L.marker([9.7622, 118.7485], { icon: FireIcon }).addTo(map)
        .bindPopup("Puerto Princesa City Coliseum");

    L.marker([9.7691, 118.7471], { icon: FireIcon }).addTo(map)
        .bindPopup("Robinsons Place Palawan");

</script>

{% endblock %}